@import url("stuff.css");
h2 {
    position: absolute;
    left: 150px;
    top: 200px;
    font-size: 20px; 
}
#ethic
{
    position: absolute;
    left: 400px;
    top: 200px;
    font-family: fantasy;
}
 body {
     height: 500px;
    }

#gender {
    position: absolute;
    left: 400px;
    top: 250px;
}

#Working 
{
    
    position: absolute;
    left: 400px;
    top: 300px;
}

button 
{ 
    position: absolute;
    left: 400px; 
   width: 100px; 
    height: 50px;
    top: 400px;
    font-size: 16px;
    
}
 button a {text-decoration: none;
           color: green;
          
}

